<div class="d-flex">
  <div class="row">
    <div *ngFor="let project of projectWork" class="col-6 mb-3 responsive">
      <a href="{{ project.url }}" target="_blank">
        <div class="card bg-dark text-white">
          <img
            src="{{ project.image }}"
            class="card-img image-fluid responsive"
            style="object-fit: cover"
            alt="Bakery"
            width="100%"
            height="200px"
          />
          <div class="card-img-overlay">
            <h4 class="card-title">{{ project.title }}</h4>
            <p class="card-text"></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
