.bodybg-image2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/assets/web.jpeg);
  background-repeat: repeat;
  background-size: cover;
  height: 200vh;
  width: 100%;
}
