/* .bodybg-color {
  background-color: var(--secondary-color);
} */

/* linear-gradient trick to get the background lighter */
.bodybg-image {
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.8)
    ),
    url(/assets/caribbean.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
