<div class="container mt-4">
  <app-divider>My Videos</app-divider>
  <div class="row">
    <div class="col-md-6" *ngFor="let v of videos">
      <div class="box">
        <h3>{{ v.title }}</h3>

        <youtube-player
          videoId="{{ v.video }}"
          suggestedQuality="highres"
          [height]="300"
          [width]="300"
          [startSeconds]="4"
          [endSeconds]="30"
          class="img-fluid"
        ></youtube-player>

        <h5>{{ v.details }}</h5>
      </div>
    </div>
  </div>
</div>
