/* .flex-container {
  display: flex;
  justify-content: space-between;
  height: 500px;
   flex-direction: row;
   flex-wrap: wrap;
}

img {
  display: flex;
  border-radius: 100px 100px;
  justify-content: center;
  flex-basis: 200px;
  height: 200px;
  background-color: gray;
  color: white;
  margin: 20px;
}  */

/* .card-item:nth-of-type(1) {
  /* align-self: start;
  order: 3;
  flex-grow: 1;
}

.card-item:nth-of-type(2) {
   align-self: end;
  order: 1;
  flex-grow: 1;
}
.card-item:nth-of-type(3) {
  align-self: center;
  order: 2;
  flex-grow: 3;
  flex-basis: 200px;
} */

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 5px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 10px;
}
.btn {
  background-color: var(--icon-color);
}
.btn:hover {
  background-color: var(--secondary-color);
}
/* .card:hover {
  margin-top: 15px;
} */
.card-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
