<div class="container"></div>
<div class="row">
  <div *ngFor="let card of cardImages" class="card" style="width: 15rem">
    <span class="year mt-3"
      ><h3>{{ card.year }}</h3></span
    >
    <img src="{{ card.image }}" class="card-img p-3" alt="{{ card.image }}" />
    <div class="card-body">
      <h5 class="card-title lead">{{ card.title }}</h5>
      <p class="card-text">
        {{ card.details }}
      </p>
      <a class="btn btn-sm" [href]="card.url" target="_blank">Read more</a>
    </div>
  </div>
</div>
