hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
h2 {
  font-style: italic;
  font-weight: bold;
  align-items: center;
  text-align: center;
  /* color: var(--icon-color); */
  color: black;
  text-shadow: gold 1px 0 10px;
}
