<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!--  Show this only on mobile to medium screens  -->

    <h2 class="navbar-brand d-lg-none">{{ name }}</h2>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--  Use flexbox utility classes to change how the child elements are justified  -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarText"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="./"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="bi bi-house-heart"></i>Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="news" routerLinkActive="active"
            ><i class="bi bi-eyeglasses"></i>Projects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="video" routerLinkActive="active"
            ><i class="bi bi-youtube"></i>Video</a
          >
        </li>
      </ul>
      <!--   Show this only lg screens and up   -->
      <h2 class="navbar-brand d-none d-lg-block">{{ name }}</h2>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.facebook.com/richard.l.gabriel.3"
            target="_blank"
            ><i class="bi bi-facebook"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.instagram.com/leungwoo/"
            ><i class="bi bi-instagram"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            target="_blank"
            href="https://twitter.com/Dariusleungwoo"
            ><i class="bi bi-twitter"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Body-->
<router-outlet>
  <ngx-loading-bar
    ref="router"
    height="5px"
    color="var(--icon-color)"
    diameter="30px"
  >
  </ngx-loading-bar>
</router-outlet>

<!--Footer-->
<app-footer></app-footer>
