.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  border-bottom: 3px solid rgb(21, 201, 183);
}
.navbar-brand {
  font-size: 25px;
  font-family: cursive;
  color: gold;
  font-weight: bold;
}
.navbar-nav .nav-link {
  align-items: center;
  justify-content: center;
}
.navbar-nav .nav-link:hover {
  color: gold;
}
footer {
  background-color: gold;
  border-top: black solid 2px;
  text-align: center;
  margin-bottom: 0;
}
.nav-item i {
  margin-left: 20px;
  padding: 5px 5px;
}
.nav-item i:hover {
  color: rgb(21, 201, 183);
}
