<div class="flex container">
  <div class="row g-4">
    <div class="col-lg-6">
      <div
        class="accordion"
        id="accordionExample"
        style="box-shadow: 0px 15px 15px black; border-radius: 10px"
      >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <strong>Bachelors Degree</strong>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <h3>University of the West Indies</h3>
              <div class="ul">
                <li class="item">Major in Geography.</li>
                <li class="item">Minor in Environmental Physics.</li>
                <li class="item">
                  Minor in Natural Resources and Environmental Management.
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <strong>Specilization Certificate</strong>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong
                >Project Management Principles and Practices
                Specialization</strong
              >
              <ul>
                <li>Budgeting and Scheduling Projects</li>
                <li>Initiating and Planning Projects</li>
                <li>Managing Project Risk and Changes</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <strong> Web Development Certificates</strong>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li class="item">
                  <strong>Interactivity with JavaScript.</strong>
                </li>
                <li class="item">Introduction to HTML.</li>
                <li class="item">Introduction to CSS3.</li>
                <li class="item">Front-End JavaScript Frameworks:Angular</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <!-- <figure class="figure">
        <img
          src="assets/student.png"
          class="figure-img img-fluid rounded"
          alt="..."
        />
        <figcaption class="figure-caption">
          Continued Education and learning is the way to excel.
        </figcaption>
      </figure> -->
      <h4>University Campus:Trinidad and Tobago</h4>
      <div class="box"><div id="map"></div></div>
    </div>
  </div>
</div>
