<header class="header">
  <div class="container mt-3 mb-3">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Me.jpeg" class="" alt="Meinsuit" />
        </div>
        <div class="carousel-item">
          <img src="assets/familybeach.jpg" class="" alt="Meonbeach" />
        </div>
      </div>
    </div>
    <h1>
      <i class="bi bi-laptop"></i> <b>WEB </b>
      <span style="color: #ff0000">D</span>
      <span style="color: #00ffff">E</span>
      <span style="color: #0000ff">V</span>
      <span style="color: #008000">E</span>
      <span style="color: #800080">L</span>
      <span style="color: #ffff00">O</span>
      <span style="color: #00008b">P</span>
      <span style="color: #ff00ff">E</span>
      <span style="color: #ffa500">R</span>
    </h1>
  </div>
</header>
