.bodybg-image {
  width: 100%;
  height: auto;

  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(/assets/rocks.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.field {
  margin: 0.75rem;
}
button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
}
